.card .card-header, .card .card-footer {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.card .card-title {
  font-size: 1rem;
  margin: 0; }

.card .list-group-item {
  padding-top: 0;
  padding-bottom: 0; }
